
body{
	background-color: #E3F0FB;
}

#introTitle{
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
	font-weight: bold;
	background-color: #E3F0FB;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}

#custom-bootstrap-menu.navbar {
    font-size: 24px;
    color: #fff;
}

#custom-bootstrap-menu a {
    font-size: 24px;
    color: #fff;
}

.buttonStyle {
	border-radius: 4px;
	border: thin solid #F0E020;
	padding: 5px;
	background-color: #F8F094;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #663300;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #FCF9D6;
	color: #996633;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #F5FFD2;
	color: #669900;
	cursor: pointer;
}

#drop1 a{
 color: black; 
}

.wellContent{
    padding: 50px;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.navFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}

pre{
  font-size: 16px;
}

.jsWrapper{
    padding: 50px;
    padding-top: 5px;
}

lessonLayout{
	padding: 50px;
}